<div class="navbar">
    <div class="navbar__brand">
      <a class="navbar-brand" href="/"><img class="img-responsive nav-logo" src="/img/logo.png"></a>
    </div>
    <div class="navbar__menu">
        <a class="navbar__item" href="/">Portfolio<span class="navbar__item__hovered"></span><span class="navbar__item__content" data-content="Portfolio"></span></a>
        <a class="navbar__item" href="/market">Market<span class="navbar__item__hovered"></span><span class="navbar__item__content" data-content="Market"></span></a>
        <a class="navbar__item" href="/transactions">Transactions<span class="navbar__item__hovered"></span><span class="navbar__item__content" data-content="Transactions"></span></a>
        <a class="navbar__item" href="/leaderboard">Leaderboard<span class="navbar__item__hovered"></span><span class="navbar__item__content" data-content="Leaderboard"></span></a>
        <a class="navbar__item" href="/engage">Engage<span class="navbar__item__hovered"></span><span class="navbar__item__content" data-content="Engage"></span></a>
        <a class="navbar__item" href="/auth/logout">Logout<span class="navbar__item__hovered"></span><span class="navbar__item__content" data-content="Logout"></span></a>
        <a class="navbar__item navbar__item__icon" href="javascript:void(0);" onclick="navResponsive()"><i class="fa fa-bars"></i></a>
  </div>
</div>