<div class="container rules">
    <br>
    <h5>
        <img src="img/logo.png" id="intro-logo" /> is an online trading game which allows you to buy and sell stocks at your convenience and at the current market price. The player at the end with highest total stocks
        and cash wins the game.
    </h5>
    <hr><br>
    <div id="app">
        <h1 class="glitch" data-text="Rules">Rules</h1>
    </div>
    <hr>
    <div class="rules-list">
        <li>Freemex contest for Aarohan will begin at 8PM on 21 March 2025.</li>
        <li>IEX Opens at 7PM and closes at 1.30AM (IST). The price of stocks are updated only in this period.</li>
        <li>Learn more about IEX Timings <a href="https://www.iexexchange.io/resources/trading/trading-hours-holidays" target="_blank">here</a>.</li>
        <li>Contest will end at 1:30AM on 24 March 2025.</li>
        <li>Person with maximum total asset wins.</li>
        <li>A player must participate in fruitful trade atleast once in order to win.</li>
    </div>
    <hr><br>
    <h1>Note</h1>
    <hr>
    <div class="notes">
        <li>Stock prices are updated every 1 minute 30 seconds.</li>
        <li>Leaderboard is updated every minute.</li>
        <li>You may notice some after hour fluctuations in stock prices which are normal.</li>
    </div>
</div>
