<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Freemex</title>
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/styles.css">

     <!-- Bootstrap CDN -->
     

    <!-- META TAGS -->
    <meta name="description" content="Freemex - the virtual stock trading game developed by GNU/Linux Users' Group">
    <meta name="keywords" content="freemex, stock, market, share, equity, aavishkar, avishkar" />
    <meta name="author" content="GNU/Linux Users' Group">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:title" content="Freemex"/>
    <meta property="og:url" content="http://freemex.nitdgplug.org/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Freemex is an online trading game which allows you to buy and sell stocks at your convenience and at the current market price. The player at the end with highest total stocks and cash wins the game." />
    <meta property="og:image" content="http://freemex.nitdgplug.org/public/img/square_logo.png" %}" />
</head>
    <body>
        <div class="error">
            <div class="player-cash-container">
                <div class="player-cash flex-row">
                    <div>
                        <h5>OOPS! <%=message%></h5>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>