<%- include("partials/header") %>

<div class="container-fluid landing-page">

    <header class="landing">
        <!-- <div class="landing-bg"></div> -->
        <div class="flex-column">
            <div class="glug-logo">
                <a href="https://freemex.nitdgplug.org">
                    <img src="img/glug_logo_transparent.png">
                </a>
            </div>
            <div class="fest-logo">
                <a href="https://avskr.in">
                    <img src="img/aavishkar-logo.png">
                </a>
            </div>
            <div class="sponsor-logo">
                <!-- Insert the sponsor logos here -->
            </div>
        </div>
        <div class="content">
            <div class="login-area">
                <img class="freemex-logo" src="img/logo.png"/>
                <p class="nasdaq-intro">NASDAQ Timings: 8PM - 2:30AM</p>
                <% if (event_started){ %>
                    <div class="login-buttons flex-row">
                        <div class="fb">
                            <a class="btn btn-fb" href="/auth/facebook" role="button">
                                <i class="fa fa-facebook left"></i>
                            </a>
                        </div>
                        <div class="google">
                            <a class="btn btn-gplus" href="/auth/google" role="button">
                                <i class="fa fa-google-plus left"></i>
                            </a>
                        </div>
                        <div class="github">
                            <a class="btn btn-github" href="/auth/github" role="button">
                                <i class="fa fa-github left"></i>
                            </a>
                        </div>
                    </div>
                <%} else {%>
                    <div class="white-text">
                        <h1>Freemex has not started yet. Stay tuned!</h1>
                                <span id="days" class="huge-text">00</span>
                                <span class="huge-text">:</span>
                                <span id="hours" class="huge-text">00</span>
                                <span class="huge-text">:</span>
                                <span id="minutes" class="huge-text">00</span>
                                <span class="huge-text">:</span>
                                <span id="seconds" class="huge-text">00</span>
                        </table>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="text-center">
            <a href="#rules" class="text-center">Rules</a>
        </div>
    </header>
    <div id="rules">
        <%- include ("partials/rules") %>
    </div>
    <div class="text-right"><a href="#"><i class="fa fa-arrow-up bounce-3" aria-hidden="true"></i></a></div>

</div>

<script type="text/javascript" src="/js/timer.js"></script>


<%- include("partials/footer") %>