<%- include("partials/header") %>
<%- include("partials/navbar") %>

    <form class="timer_form" action="/timer/" method="POST">
        <label for="start_date">startDate</label>
        <input name="start_date" type="date">
        <label for="start_time">startTime</label>
        <input name="start_time" type="time">
        <label for="end_date">endDate</label>
        <input name="end_date" type="date">
        <label for="end_time">endTime</label>
        <input name="end_time" type="time">
        <button type="submit">Submit</button>
    </form>

<script src="/timer.js"></script>

<%- include("partials/footer") %>