#wrapper {
    height:100%;
    width:100%;
    text-align: center;
    display: table;
    position:fixed;
    z-index: -1;
    filter: blur(0px);
  }
  
  #wrapper canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 1950px;
    height: auto; 
  }
  
  #canvas {
    z-index: -1;
  }

#canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
}

canvasbg {
    z-index: -10;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
    opacity: 0.6;
  }
  
  #app {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .sub {
    color: #64dcdc;
    letter-spacing: 1em;
  }
  
  
  .glitch {
    position: relative;
    color: white;
    font-size: 4em;
    letter-spacing: 0.5em;
    animation: glitch-skew 1s infinite linear alternate-reverse;
  }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
  
  @keyframes glitch-anim {
    0% {
      clip: rect(95px, 9999px, 14px, 0);
      transform: skew(0.13deg);
    }
    5% {
      clip: rect(38px, 9999px, 41px, 0);
      transform: skew(0.96deg);
    }
    10% {
      clip: rect(79px, 9999px, 23px, 0);
      transform: skew(0.02deg);
    }
    15% {
      clip: rect(71px, 9999px, 79px, 0);
      transform: skew(0.37deg);
    }
    20% {
      clip: rect(52px, 9999px, 21px, 0);
      transform: skew(0.65deg);
    }
    25% {
      clip: rect(94px, 9999px, 88px, 0);
      transform: skew(0.07deg);
    }
    30% {
      clip: rect(22px, 9999px, 97px, 0);
      transform: skew(0.64deg);
    }
    35% {
      clip: rect(75px, 9999px, 82px, 0);
      transform: skew(0.65deg);
    }
    40% {
      clip: rect(89px, 9999px, 2px, 0);
      transform: skew(0.98deg);
    }
    45% {
      clip: rect(85px, 9999px, 24px, 0);
      transform: skew(0.5deg);
    }
    50% {
      clip: rect(23px, 9999px, 82px, 0);
      transform: skew(0.92deg);
    }
    55% {
      clip: rect(65px, 9999px, 25px, 0);
      transform: skew(0.02deg);
    }
    60% {
      clip: rect(54px, 9999px, 48px, 0);
      transform: skew(0.74deg);
    }
    65% {
      clip: rect(28px, 9999px, 21px, 0);
      transform: skew(0.53deg);
    }
    70% {
      clip: rect(79px, 9999px, 42px, 0);
      transform: skew(0.78deg);
    }
    75% {
      clip: rect(42px, 9999px, 66px, 0);
      transform: skew(0.38deg);
    }
    80% {
      clip: rect(52px, 9999px, 78px, 0);
      transform: skew(0.76deg);
    }
    85% {
      clip: rect(25px, 9999px, 36px, 0);
      transform: skew(0.67deg);
    }
    90% {
      clip: rect(100px, 9999px, 8px, 0);
      transform: skew(1deg);
    }
    95% {
      clip: rect(94px, 9999px, 58px, 0);
      transform: skew(0.17deg);
    }
    100% {
      clip: rect(86px, 9999px, 58px, 0);
      transform: skew(0.88deg);
    }
  }
  @keyframes glitch-anim2 {
    0% {
      clip: rect(50px, 9999px, 52px, 0);
      transform: skew(0.51deg);
    }
    5% {
      clip: rect(60px, 9999px, 27px, 0);
      transform: skew(0.8deg);
    }
    10% {
      clip: rect(86px, 9999px, 12px, 0);
      transform: skew(0.07deg);
    }
    15% {
      clip: rect(24px, 9999px, 48px, 0);
      transform: skew(0.17deg);
    }
    20% {
      clip: rect(35px, 9999px, 57px, 0);
      transform: skew(0.98deg);
    }
    25% {
      clip: rect(94px, 9999px, 44px, 0);
      transform: skew(0.28deg);
    }
    30% {
      clip: rect(61px, 9999px, 45px, 0);
      transform: skew(0.87deg);
    }
    35% {
      clip: rect(70px, 9999px, 43px, 0);
      transform: skew(0.52deg);
    }
    40% {
      clip: rect(40px, 9999px, 94px, 0);
      transform: skew(0.37deg);
    }
    45% {
      clip: rect(24px, 9999px, 56px, 0);
      transform: skew(0.6deg);
    }
    50% {
      clip: rect(32px, 9999px, 75px, 0);
      transform: skew(0.49deg);
    }
    55% {
      clip: rect(5px, 9999px, 70px, 0);
      transform: skew(0.33deg);
    }
    60% {
      clip: rect(66px, 9999px, 6px, 0);
      transform: skew(0.26deg);
    }
    65% {
      clip: rect(100px, 9999px, 17px, 0);
      transform: skew(0.26deg);
    }
    70% {
      clip: rect(84px, 9999px, 73px, 0);
      transform: skew(0.68deg);
    }
    75% {
      clip: rect(5px, 9999px, 83px, 0);
      transform: skew(0.1deg);
    }
    80% {
      clip: rect(15px, 9999px, 51px, 0);
      transform: skew(0.55deg);
    }
    85% {
      clip: rect(52px, 9999px, 35px, 0);
      transform: skew(0.3deg);
    }
    90% {
      clip: rect(79px, 9999px, 61px, 0);
      transform: skew(0.32deg);
    }
    95% {
      clip: rect(92px, 9999px, 18px, 0);
      transform: skew(0.17deg);
    }
    100% {
      clip: rect(15px, 9999px, 69px, 0);
      transform: skew(0.3deg);
    }
  }
  @keyframes glitch-skew {
    0% {
      transform: skew(1deg);
    }
    10% {
      transform: skew(-3deg);
    }
    20% {
      transform: skew(-4deg);
    }
    30% {
      transform: skew(-2deg);
    }
    40% {
      transform: skew(5deg);
    }
    50% {
      transform: skew(4deg);
    }
    60% {
      transform: skew(4deg);
    }
    70% {
      transform: skew(-1deg);
    }
    80% {
      transform: skew(5deg);
    }
    90% {
      transform: skew(-3deg);
    }
    100% {
      transform: skew(-1deg);
    }
  }