#wrapper {
  height:100%;
  width:100%;
  text-align: center;
  display: table;
  position:fixed;
  z-index: -1;
  filter: blur(3px);
}

#wrapper canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 1950px;
  height: auto; 
}

#canvas {
  z-index: -1;
}
#canvasbg {
  z-index: -10;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
  opacity: 0.6;
}

