#wrapper {
  height:100%;
  width:100%;
  text-align: center;
  display: table;
  position:fixed;
  z-index: -1;
  filter: blur(3px);
}

#wrapper canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 1950px;
  height: auto; 
}

#canvas {
  z-index: -1;
}
#canvasbg {
  z-index: -10;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
  opacity: 0.6;
}

.glitch {
  position: relative;
  color: white;
  animation:  glitch-skew 2s infinite linear alternate-reverse,
              glow 2500ms linear infinite 2000ms;
  background: 50% 100% / 50% 50% no-repeat
              radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}  

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(25px, 9999px, 20px, 0);
    transform: skew(0.91deg);
  }
  5% {
    clip: rect(86px, 9999px, 75px, 0);
    transform: skew(0.53deg);
  }
  10% {
    clip: rect(69px, 9999px, 30px, 0);
    transform: skew(0.92deg);
  }
  15% {
    clip: rect(43px, 9999px, 54px, 0);
    transform: skew(0.37deg);
  }
  20% {
    clip: rect(68px, 9999px, 48px, 0);
    transform: skew(0.41deg);
  }
  25% {
    clip: rect(41px, 9999px, 29px, 0);
    transform: skew(0.21deg);
  }
  30% {
    clip: rect(87px, 9999px, 37px, 0);
    transform: skew(0.91deg);
  }
  35% {
    clip: rect(30px, 9999px, 36px, 0);
    transform: skew(0.66deg);
  }
  40% {
    clip: rect(63px, 9999px, 73px, 0);
    transform: skew(0.32deg);
  }
  45% {
    clip: rect(17px, 9999px, 78px, 0);
    transform: skew(0.01deg);
  }
  50% {
    clip: rect(88px, 9999px, 43px, 0);
    transform: skew(0.77deg);
  }
  55% {
    clip: rect(17px, 9999px, 97px, 0);
    transform: skew(0.22deg);
  }
  60% {
    clip: rect(13px, 9999px, 6px, 0);
    transform: skew(0.13deg);
  }
  65% {
    clip: rect(79px, 9999px, 75px, 0);
    transform: skew(0.59deg);
  }
  70% {
    clip: rect(44px, 9999px, 8px, 0);
    transform: skew(0.31deg);
  }
  75% {
    clip: rect(7px, 9999px, 11px, 0);
    transform: skew(0.98deg);
  }
  80% {
    clip: rect(42px, 9999px, 50px, 0);
    transform: skew(0.47deg);
  }
  85% {
    clip: rect(74px, 9999px, 34px, 0);
    transform: skew(0.84deg);
  }
  90% {
    clip: rect(31px, 9999px, 95px, 0);
    transform: skew(0.81deg);
  }
  95% {
    clip: rect(49px, 9999px, 26px, 0);
    transform: skew(0.87deg);
  }
  100% {
    clip: rect(60px, 9999px, 49px, 0);
    transform: skew(0.09deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(27px, 9999px, 1px, 0);
    transform: skew(0.3deg);
  }
  5% {
    clip: rect(10px, 9999px, 59px, 0);
    transform: skew(0.68deg);
  }
  10% {
    clip: rect(27px, 9999px, 89px, 0);
    transform: skew(0.18deg);
  }
  15% {
    clip: rect(83px, 9999px, 63px, 0);
    transform: skew(0.32deg);
  }
  20% {
    clip: rect(86px, 9999px, 84px, 0);
    transform: skew(0.54deg);
  }
  25% {
    clip: rect(99px, 9999px, 82px, 0);
    transform: skew(0.68deg);
  }
  30% {
    clip: rect(4px, 9999px, 81px, 0);
    transform: skew(0.92deg);
  }
  35% {
    clip: rect(58px, 9999px, 10px, 0);
    transform: skew(0.23deg);
  }
  40% {
    clip: rect(35px, 9999px, 16px, 0);
    transform: skew(0.18deg);
  }
  45% {
    clip: rect(26px, 9999px, 52px, 0);
    transform: skew(0.76deg);
  }
  50% {
    clip: rect(2px, 9999px, 54px, 0);
    transform: skew(0.88deg);
  }
  55% {
    clip: rect(87px, 9999px, 80px, 0);
    transform: skew(0.92deg);
  }
  60% {
    clip: rect(62px, 9999px, 33px, 0);
    transform: skew(0.01deg);
  }
  65% {
    clip: rect(39px, 9999px, 94px, 0);
    transform: skew(0.49deg);
  }
  70% {
    clip: rect(69px, 9999px, 21px, 0);
    transform: skew(0.78deg);
  }
  75% {
    clip: rect(78px, 9999px, 69px, 0);
    transform: skew(0.98deg);
  }
  80% {
    clip: rect(17px, 9999px, 59px, 0);
    transform: skew(0.82deg);
  }
  85% {
    clip: rect(4px, 9999px, 28px, 0);
    transform: skew(0.41deg);
  }
  90% {
    clip: rect(92px, 9999px, 20px, 0);
    transform: skew(0.04deg);
  }
  95% {
    clip: rect(94px, 9999px, 99px, 0);
    transform: skew(0.43deg);
  }
  100% {
    clip: rect(14px, 9999px, 7px, 0);
    transform: skew(0.57deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-4deg);
  }
  10% {
    transform: skew(4deg);
  }
  20% {
    transform: skew(-3deg);
  }
  30% {
    transform: skew(0deg);
  }
  40% {
    transform: skew(-3deg);
  }
  50% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(5deg);
  }
  70% {
    transform: skew(-1deg);
  }
  80% {
    transform: skew(5deg);
  }
  90% {
    transform: skew(1deg);
  }
  100% {
    transform: skew(4deg);
  }
}