@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Karla:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda&family=Raleway:wght@900&family=Staatliches&display=swap');

html {
    min-height: 100vh;
    max-width: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    min-height: 100vh;
    font-size: 14px;
    overflow-x: hidden;
    background-color: #0b112b;
}

.container{
    z-index: 0;
    max-width: 1500px;
}

.container-fluid {
    padding: 0;
}


/* ------------------------------- Loader ------------------------------- */


#loader {
    font-size: 10em;

    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100vh;
    padding: 20%;

    opacity: .6;
    color: white;
    background: #000;
}

#loader-icon {
    display: block;
    margin: 0 auto;
    text-align: center;
}


/* ------------------------------- Landing page ------------------------------- */


.landing-page header.landing {
    height: 100vh;
}

.landing-page header.landing .landing-bg {
    position: absolute;
    z-index: -999999;

    width: 100%;
    height: 100vh;

    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    filter: blur(5px);
}

.landing-page header.landing .glug-logo {
    position: absolute;
    left: 11em;
    top: 1em;
    z-index: 999;
}

.landing-page header.landing .glug-logo img {
    width: 7em;
    max-width: 30vw;
    -webkit-filter: drop-shadow(1px 1px 2px #000);
            filter: drop-shadow(1px 1px 2px #000);
}

.landing-page header.landing .fest-logo {
    position: absolute;
    left: 1em;
    top: 0.2em;
    z-index: 999;
}

.landing-page header.landing .fest-logo img {
    width: 9.25em;
    max-width: 30vw;
    -webkit-filter: drop-shadow(1px 1px 2px #000);
            filter: drop-shadow(1px 1px 2px #000);
}

@media only screen and (max-width: 768px) {
  .landing-page header.landing .glug-logo {
    left: auto;
    right: 2em;
  }
}

.landing-page header.landing .sponsor-logo {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 40vw;
    width: 250px;
    padding: 1%;
}

.landing-page header.landing .content {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.landing-page header.landing .content img.freemex-logo {
    z-index: 999;

    width: 100%;
    max-width: 1000px;
    height: auto;
    padding-right: 15%;
    padding-left: 15%;

    -webkit-filter: drop-shadow(5px 5px 5px #222);
            filter: drop-shadow(5px 5px 5px #222);
}

.landing-page header.landing .content table{

    position: absolute;
    left: 50%;
    transform: translate(-50%,20%);
    /* box-shadow: 3px 5px 15px 2px white; */

}

.landing-page header.landing .content table td{

    padding: 0px 8px;

}

.huge-text{

    font-size: 50px;

}

.landing-page header.landing .content .nasdaq-intro {
    padding-top: 25px;
    padding-bottom: 30px;
    color: #f0f0f0;
    font-size: 1.4em;
    margin-bottom: 0;
}

.landing-page header.landing .content .login-buttons a.btn {
    padding: 12px 16px;
    margin-right: 10px;
}

.landing-page header.landing .content .login-buttons a.btn .fa {
    padding-right: 4px;
}

.landing-page header.landing .content .login-buttons a.btn-fb {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
}

.landing-page header.landing .content .login-buttons a.btn-fb:hover,
.landing-page header.landing .content .login-buttons a.btn-fb:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}

.landing-page header.landing .content .login-buttons a.btn-gplus {
    background: #DD4B39;
}

.landing-page header.landing .content .login-buttons a.btn-github {
    background: #f0f0f0;;
}

.landing-page header.landing .content .login-buttons a.btn-gplus:hover,
.landing-page header.landing .content .login-buttons a.btn-gplus:focus {
    background: #E74B37;
}

.landing-page .rules {
    padding-top: 5%;
}

.landing-page .modal .nav-tabs {
    border: 0;
    padding: .7rem;
    z-index: 2;
    border-radius: 2px;
}

.landing-page .modal .nav-tabs .nav-link {
    border: 0;
    color: #fff;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #5966e3;
}

.nav-link.active {
    background-color: green;
    color: #fff;
    -webkit-transition: all 1s;
    transition: all 1s;
    border-radius: 2px;
}

.landing-page .modal .nav-tabs .nav-link.active {
    background-color: rgba(255,255,255,.2);
    color: #fff;
    -webkit-transition: all 1s;
    transition: all 1s;
    border-radius: 2px;
}

.landing-page .modal .md-form.form-sm label.active {
    font-size:.8rem;
}

.landing-page .registration-form .input-requirements {
    list-style: none;
}

.landing-page .registration-form .input-requirements li {
    color: #4285F4;
    font-size: 0.85rem;
    line-height: 1.2rem;
}

.landing-page .registration-form .input-requirements li > .fa {
    display: none;
}

.landing-page .registration-form .input-requirements li.valid {
    color: #00C851;
}

.landing-page .registration-form .input-requirements li.valid .fa-check {
    display: inline;
}

.landing-page .registration-form .input-requirements li.invalid {
    color: #FF4444;
}

.landing-page .registration-form .input-requirements li.invalid .fa-exclamation {
    display: inline;
}


.landing-page .registration-form input:not([type="submit"]) ~ .input-requirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s linear;
}

.landing-page .registration-form input:not([type="submit"]):focus ~ .input-requirements,
.landing-page .registration-form input:not([type="submit"]):active ~ .input-requirements {
    max-height: 100px; /* any large number (bigger then the .input-requirements list) */
    transition: max-height 1s ease-in;
}


/* ------------------------------- Navbar -------------------------------------- */

.nav-container{
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    text-align: center;
    display: flex;
}

.navbar{
    background-color: #0b112b;
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 1;
    opacity: 1;
}
.navbar .navbar-brand img {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar ul li a {
    font-size: 1.25em;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #4966e3;
}

.navbar-light .navbar-toggler{
    color: white;
    font-size: 50px;
}

.timer-form{

    margin-top: 100px;

}

/* ----------------------------- Portfolio and Market ----------------------------- */


.portfolio .card {
    margin-bottom: 2rem;
}

.portfolio .change-username {
    margin-right: 0;
    background-color: #4966e3;
    color: white;
    font-weight: bold;
}

.portfolio .modal .form-error {
    color: #ff4444;
}

.portfolio .change-username-form .input-requirements {
    list-style: none;
}

.portfolio .change-username-form .input-requirements li {
    color: #4285F4;
    font-size: 0.85rem;
    line-height: 1.2rem;
}

.portfolio .change-username-form .input-requirements li > .fa {
    display: none;
}

.portfolio .change-username-form .input-requirements li.valid {
    color: #00F69B;
}

.portfolio .change-username-form .input-requirements li.valid .fa-check {
    display: inline;
}

.portfolio .change-username-form .input-requirements li.invalid {
    color: #FF4444;
}

.portfolio .change-username-form .input-requirements li.invalid .fa-exclamation {
    display: inline;
}

.portfolio .change-username-form input:not([type="submit"]) ~ .input-requirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s linear;
}

.portfolio .change-username-form input:not([type="submit"]):focus ~ .input-requirements,
.portfolio .change-username-form input:not([type="submit"]):active ~ .input-requirements {
    max-height: 100px; /* any large number (bigger then the .input-requirements list) */
    transition: max-height 1s ease-in;
}

.market,.portfolio{
    margin-top: 100px;
}
.market h1,.portfolio h1{
    color: white;
    text-align: center;
    font-size: 100px;
    line-height: .8;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 60px;
    letter-spacing: 4px;
}

.portfolio h2{
    color: white;
    text-align: center;
    font-size: 70px;
    line-height: .8;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
}

.transactions .cash-container h5,
.market h5,
.portfolio h5{
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Staatliches', cursive;
    background-color: #111839;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 100px;
    width: 530px;
    padding-left: 30px;
    padding-right: 30px;
}

.portfolio h5{
    border-radius: 0px;
}

/* .portfolio h5{
    background:;
    color: black;
    box-shadow:2px 2px 16px 4px gray;
    font-size:30px;
    text-align:left;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
} */

.portfolio h4{
    /* background:; */
    color: white;
    /* box-shadow:2px 2px 16px 4px gray; */
    font-size:35px;
    text-align:left;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
}

.portfolio .player-cash-container{
    justify-content: center;
    display: flex;
}

.transactions .cash-container,
.market .cash-container,
.portfolio .cash-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.transactions .cash-in-hand,
.market .cash-in-hand,
.portfolio .cash-in-hand,
.portfolio .value-in-stocks,
.portfolio .total-cash{
    color:#00F69B;
}

.portfolio .player-cash{
 /* box-shadow: 2px 2px 16px 4px gray;    */
 display: flex;
 flex-direction: row;
}

/* .portfolio hr{
    height: 2px;
    background-color: gray;
} */
.market .text-right,
.portfolio .text-right{
    color: white;
    font-weight: 400;
    font-size: large;
}

.market .text-center,
.portfolio .text-center{
    color: white;
    font-weight: 400;
    font-size: x-large;
    margin-top: 50px;
    margin-bottom: -10px;
}

.portfolio .text-center{
    margin-top: -30px;
    margin-bottom: 0;
}

.market .stock-cards, .portfolio .stock-cards{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}

.market .card-body, .portfolio .card-body{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.market .card, .portfolio .card {
    background:#111839;
    width:400px;
    border-radius:20px;
    margin:30px;
    backdrop-filter: blur(5px);
}

/* .market .green-card,.portfolio .green-card{
    background-color: #1b6214;
    backdrop-filter: blur(10px);
}

.market .red-card, .portfolio .red-card{
    background-color: red;
    backdrop-filter: blur(10px);
} */

/* .portfolio .card .card-title
{
    font-weight: 600;
    background: #01021E;
    font-size:30px;
    border-top-right-radius:20px;
    margin-top:0;
    color:white;
    height: 75px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
} */

.market .card .market-info .code, 
.portfolio .card .market-info .code,
.market .card .market-info .price, 
.portfolio .card .market-info .price{
    color: white;
    font-size:25px;
    text-align:left;
    font-weight:600;
}

.market .card .market-info .name, 
.portfolio .card .market-info .name,
.market .card .market-info .closing-time, 
.portfolio .card .market-info .closing-time,
.market .card .market-info .diff-percent, 
.portfolio .card .market-info .diff-percent{
    color: #9ea1ae;
    font-size:15px;
    text-align:left;
    font-weight:400;
}

.market .card .market-info .graph,
.portfolio .card .market-info .graph{
    width: 150px;
    height: 55px;
}

.portfolio .card .market-info .card-text,
.market .card .market-info .card-text {
    /* font-weight: 400; */
}

.portfolio .player-cash-container .total-cash-container{
    border-top: #4966e3 solid 5px;
}

.market .outer-search-container{
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: -30px;
}

.market .search-container{
    justify-content: center;
    display: flex;
    color: white;
    background-color: #262948;
    padding: 10px;
    width: 500px;
    border-radius: 40px;
}

.market .stock-search{
    background-color: #262948;
    width: 450px;
    height: 50px;
    border-radius: 0px;
    border: none;
    color: white;
    padding: 0px;
    justify-content: center;
    text-align: left;
    border-bottom: #4966e3 solid 5px;
    font-size: 2rem;
}

.market .stock-search::placeholder{
    color: white;
    font-family: 'Coda', cursive;
    opacity: .2;
}

.market .stock-search:focus::placeholder{
    color: transparent;
}

.market .stock-search:focus{
    box-shadow: none;
}

.market .search-container .search-icon-container{
    justify-content: center;
    display: flex;
}

.market .search-container .search-icon{
    font-size: 25px;
    margin-top: 10px;
}

.portfolio .card .market-info .stock-info,
.market .card .market-info .stock-info
{
	display: block;
    float: right;
}

.market-buttons{
    justify-content: center;
    text-align: center;
    display: grid;
}


.market .card .market-info .market-buttons .market-buy-button
{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background: #4966e3;
    height: 40px;
    color: white;
    border-radius: 10px;
    width: 100px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.portfolio .card .market-info .market-buttons .market-buy-button
{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background: #4966e3;
    height: 50px;
    color: white;
    border-radius: 10px;
    width: 120px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.portfolio .card .market-info .market-buttons .market-sell-button
{
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    background:#ff4757;
    height:50px;
    color:white;
    border-radius:10px;
    width: 120px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.flex-row{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    text-align:left;
    width: 100%;
}

.flex-column{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: left;
    padding:10px;
}

.details, .quantity{
    color: #01021E;
    text-decoration:none;
    font-size:20px;
    font-weight: 600;
}

.price{
    color: #01021E;
    font-size:20px;
    font-weight:bold;
}

.portfolio .card .market-info .market-buttons{
    /* margin-top: 2em; */
}

.portfolio .card .market-info .up,
.market .card .market-info .up {
    color: #00F69B;
    font-size:20px;
    font-weight:bold;
}

.portfolio .card .market-info .down,
.market .card .market-info .down {
    color: #ff4757;
    font-size:20px;
    font-weight:bold;
}

.portfolio .modal .close:hover,
.market .modal .close:hover {
    cursor: pointer;
}

.white-text{
    color: white
}

.buy-stocks-btn{
    margin-top: 3%;
    height: 50px;
    background-color: #4966e3;
    font-weight: 600;
    color: white;
}

/* --------------------------------- Transactions ------------------------------- */

.transactions{
    text-align: center;
    margin-top: 100px;

}

.transactions .transactions-sheet{
    text-align: left;
    overflow-x: visible;
}

.transactions .table td, .transactions .table th{
    padding-left: 5px;
    padding-right: 5px;
}



/* ------------------------------- Footer ------------------------------- */


.sharethis-inline-share-buttons {
    margin-top: 50px;
}

.footer {
    text-align: center;
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.footer img {
    margin-left: 0.5em;
    max-height: 5em;
    max-width: 80%;
}


/* ----------------------------- Leaderboard ------------------------------------ */

.leaderboard{

    margin-top: 100px;
    text-align: center;

}

.leaderboard .table {
    margin-top: 2rem;
    text-align: left;
}

/* ------------------------------- Rules ------------------------------- */

.rules{

    margin-top: 100px;

}

.rules #intro-logo {
    height: 2em;
    margin-bottom: 0.5em;
}

.rules h1 {
    font-size: 3em;
}

.rules h5 {
    font-size: 1.4em;
    line-height: 1.75em;
}

.rules ol {
    font-size: 1.2em;
    padding-left: 2em;
}

.rules ol li {
    padding-top: 0.4em;
}


/* ------------------------------------- Engage -------------------------------- */

.engage{
    text-align: center;
    margin-top: 100px;

}

/* ------------------------------- Media Queries ------------------------------- */


@media only screen and (max-width: 768px) {

  .btn {
    padding: 0.85rem 1.5rem;
  }

    .landing-page header.landing .content img.freemex-logo {
        padding-right: 10%;
        padding-left: 10%;
    }

    .landing-page .registration-form input:not([type="submit"]):focus ~ .input-requirements,
    .landing-page .registration-form input:not([type="submit"]):active ~ .input-requirements {
        max-height: 150px;
    }

    .portfolio h5{
        font-size:20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .portfolio h4{
        font-size:25px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .portfolio .card .card-title, .portfolio .card .market-info .market-buttons,
    .market .card .card-title, .market .card .market-info .market-buttons {
        text-align: center;
    }
    .market .card, .portfolio .card{
        margin-left: 0;
        margin-right: 0;
    }
    .market h5{
        padding-left:10px ;
        padding-right: 10px;
    }
    .portfolio .card .market-info,
    .market .card .market-info {
        /* padding: 1em 0; */
    }

    .market .card .card-title{
        font-size: 25px;
    }

    .market .card .market-info .stock-info:nth-child(2),
    .market .card .market-info .stock-info:nth-child(3) {
        /* float: left; */
    }

    .portfolio .card .market-info .stock-info,
    .market .card .market-info .stock-info {
        /* font-size: 0.85rem;
        text-align: center;
        padding: 0 0.35em; */
    }

    .footer img {
        display: block;
        margin: 0 auto;
        margin-top: 0.5em;
    }
}