@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Karla&:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda&family=Raleway:wght@900&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html {
    min-height: 100vh;
    max-width: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    min-height: 100vh;
    font-size: 14px;
    overflow-x: hidden;
    background-color: #0b112b;
}       

.container{
    z-index: 0;
    max-width: 1500px;
}

.container-fluid {
    padding: 0;
}


/* ------------------------------- Loader ------------------------------- */


#loader {
    font-size: 10em;

    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100vh;
    padding: 20%;

    opacity: .6;
    color: white;
    background: #000;
}

#loader-icon {
    display: block;
    margin: 0 auto;
    text-align: center;
}


/* ------------------------------- Landing page ------------------------------- */


.landing-page header.landing {
    height: 100vh;
}

.landing-bg {
    height: 100vh;
    position: fixed;
    z-index: -999999;

    width: 100%;
    height: 100vh;

    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.landing-page header.landing .glug-logo {
    position: absolute;
    left: 11em;
    top: 1em;
    z-index: 999;
}

.landing-page header.landing .glug-logo img {
    width: 5em;
    max-width: 30vw;
    -webkit-filter: drop-shadow(1px 1px 2px #000);
            filter: drop-shadow(1px 1px 2px #000);
}

.landing-page header.landing .fest-logo {
    position: absolute;
    left: 1em;
    top: 0.2em;
    z-index: 999;
}

.landing-page header.landing .fest-logo img {
    width: 7.25em;
    max-width: 30vw;
    -webkit-filter: drop-shadow(1px 1px 2px #000);
            filter: drop-shadow(1px 1px 2px #000);
}

@media only screen and (max-width: 768px) {
  .landing-page header.landing .glug-logo {
    left: auto;
    right: 2em;
  }
}

.landing-page header.landing .sponsor-logo {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 40vw;
    width: 250px;
    padding: 1%;
}

.landing-page header.landing .content {
    width: 100%;
    text-align: center;
    margin-top: 40vh;
    transform: translateY(-40%);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin-bottom: -80px;
}

.landing-page .landing .content .login-area{
    width: 600px;
    padding: 30px;
    border-radius: 30px;
    background-color:transparent;
    box-shadow: #4966e3 0 0 6px 1px;
    backdrop-filter: blur(10px);
    margin-bottom: 30px;
}

.landing-page header.landing .content img.freemex-logo {
    z-index: 999;

    width: 100%;
    max-width: 1000px;
    height: auto;
    padding-right: 15%;
    padding-left: 15%;
    margin-bottom: 20px;

    -webkit-filter: drop-shadow(5px 5px 5px #222);
            filter: drop-shadow(5px 5px 5px #222);
}

.landing-page header.landing .content table{

    position: absolute;
    left: 50%;
    transform: translate(-50%,20%);
    /* box-shadow: 3px 5px 15px 2px white; */

}

.landing-page header.landing .content table td{

    padding: 0px 8px;

}

.huge-text{

    font-size: 50px;

}

.landing-page header.landing .content .nasdaq-intro {
    padding-top: 25px;
    padding-bottom: 50px;
    color: white;
    font-weight: 700;
    font-size: 2em;
    height: 1em;
    overflow: hidden;
    border-right: 2px solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.landing-page header.landing .content .login-buttons a.btn {
    padding: 12px 16px;
    margin-right: 10px;
    margin-top: 40px;
}

.landing-page header.landing .content .login-buttons a.btn .fa {
    font-size: 35px;
    position: relative;
    top: 15%;
}

.landing-page header.landing .content .login-buttons a.btn-fb {
    border-radius: 100px;
    border: #005cc5 4px solid;
    color: white;
    width: 90px;
    height: 90px;
    justify-content: center;
    text-align: center;
    background-color:#005cc5;
}

.landing-page header.landing .content .login-buttons a.btn-fb:hover,
.landing-page header.landing .content .login-buttons a.btn-fb:focus {
    background-color:transparent;
}

.landing-page header.landing .content .login-buttons a.btn-gplus {
    border-radius: 100px;
    border:#9e1c23 4px solid;
    color: white;
    width: 90px;
    height: 90px;
    justify-content: center;
    text-align: center;
    background:  #9e1c23;
}

.landing-page header.landing .content .login-buttons a.btn-gplus:hover,
.landing-page header.landing .content .login-buttons a.btn-gplus:focus {
    background:  transparent;
}

.landing-page header.landing .content .login-buttons a.btn-github {
    border-radius: 100px;
    border: #c24e00 4px solid;
    color: white;
    width: 90px;
    height: 90px;
    justify-content: center;
    text-align: center;
    background:#c24e00;
}

.landing-page header.landing .content .login-buttons a.btn-github:hover,
.landing-page header.landing .content .login-buttons a.btn-github:focus {
    background:transparent;
}

.landing-page .rules {
    margin-top: 5%;
    margin-bottom: -20px;
    padding-left: 15px;
    padding-right: 15px;
}

.landing-page .text-right .fa-arrow-up{
    background-color: #4966e3;
    border-radius: 100px;
    font-size: 30px;
    margin-top: -100px;
    margin-right: 30px;
    padding: 20px;
    color: white;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.bounce-3 {
    animation-name: bounce-3;
    animation-timing-function: ease;
}
@keyframes bounce-3 {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-50px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}

.landing-page .text-right .fa-arrow-up:hover{
    background-color: transparent;
    border: #4966e3 4px solid;
}

.landing-page .modal .nav-tabs {
    border: 0;
    padding: .7rem;
    z-index: 2;
    border-radius: 2px;
}

.landing-page .modal .nav-tabs .nav-link {
    border: 0;
    color: #fff;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: #5966e3;
}

.nav-link.active {
    background-color: green;
    color: #fff;
    -webkit-transition: all 1s;
    transition: all 1s;
    border-radius: 2px;
}

.landing-page .modal .nav-tabs .nav-link.active {
    background-color: rgba(255,255,255,.2);
    color: #fff;
    -webkit-transition: all 1s;
    transition: all 1s;
    border-radius: 2px;
}

.landing-page .modal .md-form.form-sm label.active {
    font-size:.8rem;
}

.landing-page .registration-form .input-requirements {
    list-style: none;
}

.landing-page .registration-form .input-requirements li {
    color: #4285F4;
    font-size: 0.85rem;
    line-height: 1.2rem;
}

.landing-page .registration-form .input-requirements li > .fa {
    display: none;
}

.landing-page .registration-form .input-requirements li.valid {
    color: #00C851;
}

.landing-page .registration-form .input-requirements li.valid .fa-check {
    display: inline;
}

.landing-page .registration-form .input-requirements li.invalid {
    color: #FF4444;
}

.landing-page .registration-form .input-requirements li.invalid .fa-exclamation {
    display: inline;
}


.landing-page .registration-form input:not([type="submit"]) ~ .input-requirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s linear;
}

.landing-page .registration-form input:not([type="submit"]):focus ~ .input-requirements,
.landing-page .registration-form input:not([type="submit"]):active ~ .input-requirements {
    max-height: 100px; /* any large number (bigger then the .input-requirements list) */
    transition: max-height 1s ease-in;
}


/* ------------------------------- Navbar -------------------------------------- */

.navbar {
    overflow: hidden;
    display: flex;
    position: sticky;
    top:0;
    width:100%;
    padding-top: 40px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 999;
  }

  .nav-logo{
      width: 30%;
  }
  .navbar__brand {
    float: left;
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar__menu {
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
    margin-top: -50px;
  }
  .navbar__menu:hover .navbar__item {
    color: #4966e3;
  }
  .navbar__menu:hover .navbar__item.active::before {
    left: 50%;
    width: 0;
  }
  .navbar__menu:hover .navbar__item:hover, .navbar__menu:hover .navbar__item.active:hover {
    color: #4966e3;
  }
  .navbar__menu:hover .navbar__item:hover::before, .navbar__menu:hover .navbar__item.active:hover::before {
    width: 100%;
    left: 0;
  }
  .navbar__item {
    list-style-type: none;
    float: right;
    display: block;
    color: white;
    padding: 14px 16px;
    font-size: 1.1em;
    line-height: 32px;
    transition: 0.2s ease-in-out;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-family:'Raleway', sans-serif
  }
  
  .navbar__item:not(:last-child) {
    margin-right: 0.5em;
  }
  .navbar__item::before {
    content: "";
    position: absolute;
    bottom: 10%;
    height: 2px;
    width: 0;
    background-color: #4966e3;
    transition: 0.2s ease-in-out;
    transition-delay: 0.6s;
    left: 50%;
  }
  a:hover{
      text-decoration: none;
  }
  .navbar__item::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    height: 0;
    border-left: 2px solid #4966e3;
    border-right: 2px solid #4966e3;
    transition: 0.2s;
    transition-delay: 0.4s;
  }
  .navbar__item:hover, .navbar__item.active {
    color: white;
  }
  .navbar__item:hover::before, .navbar__item.active::before {
    transition-delay: 0s;
    width: 100%;
    left: 0;
  }
  .navbar__item:hover::after, .navbar__item.active::after {
    transition-delay: 0.2s;
    height: 80%;
  }
  .navbar__item__hovered {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
  }
  .navbar__item__hovered::before, .navbar__item__hovered::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #4966e3;
    left: 0;
    top: 10%;
    width: 0;
    transition: 0.2s;
    transition-delay: 0.2s;
  }
  .navbar__item__hovered::after {
    left: 100%;
    right: 0;
  }
  .navbar__item__hovered:hover::before {
    width: 50%;
    transition-delay: 0.4s;
  }
  .navbar__item__hovered:hover::after {
    left: 50%;
    right: 0;
    width: 50%;
    transition-delay: 0.4s;
  }
  .navbar__item__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 10%;
    overflow: hidden;
  }
  .navbar__item__content::before {
    position: absolute;
    content: attr(data-content);
    background-color: #4966e3;
    color: white;
    top: -1em;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    font-size: 1.1em;
    padding-top: 0.5em;
    font-weight: bold;
    transition: 0.2s ease-in-out;
    transition-delay: 0s;
  }
  .navbar__item:hover .navbar__item__content::before {
    top: 0;
    height: 100%;
    transition-delay: 0.6s;
  }
  .navbar__item__icon {
    display: none;
    width: 60px;
  }
  
/* ----------------------------- Portfolio and Market ----------------------------- */

.btn:focus,
btn:focus,
a:focus{
    outline: none;
    text-decoration: none;
}

.portfolio .card {
    margin-bottom: 2rem;
}

.portfolio .change-username {
    margin-right: 0;
    background-color: #4966e3;
    color: white;
    font-weight: bold;
}

.portfolio .modal .form-error {
    color: #ff4444;
}

.portfolio .change-username-form .input-requirements {
    list-style: none;
}

.portfolio .change-username-form .input-requirements li {
    color: #4285F4;
    font-size: 0.85rem;
    line-height: 1.2rem;
}

.portfolio .change-username-form .input-requirements li > .fa {
    display: none;
}

.portfolio .change-username-form .input-requirements li.valid {
    color: #00F69B;
}

.portfolio .change-username-form .input-requirements li.valid .fa-check {
    display: inline;
}

.portfolio .change-username-form .input-requirements li.invalid {
    color: #FF4444;
}

.portfolio .change-username-form .input-requirements li.invalid .fa-exclamation {
    display: inline;
}

.portfolio .change-username-form input:not([type="submit"]) ~ .input-requirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s linear;
}

.portfolio .change-username-form input:not([type="submit"]):focus ~ .input-requirements,
.portfolio .change-username-form input:not([type="submit"]):active ~ .input-requirements {
    max-height: 100px; /* any large number (bigger then the .input-requirements list) */
    transition: max-height 1s ease-in;
}

.market h1,.portfolio h1,.transactions h1,.rules h1, .leaderboard h1, .engage h1{
    color: white;
    text-align: center;
    font-size: 100px;
    line-height: .8;
    font-family: 'Itim', cursive;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 4px;
    font-weight: 800;
}

.rules h1{
    margin-bottom: 0;
}

.portfolio h2{
    color: white;
    text-align: center;
    font-size: 70px;
    line-height: .8;
    font-family: 'Itim', cursive;
    letter-spacing: 4px;
}

.portfolio .modal-content,
.market .modal-content{
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: #4966e3 4px solid;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.transactions .cash-container h5,
.market h5,
.error h5{
    color: white;
    font-size: 34px;
    text-align: center;
    font-family: 'Itim', cursive;
    background-color: #111839;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 100px;
    width: 530px;
    padding-left: 30px;
    padding-right: 30px;
}

.error h5{
    margin-top: 0;
}

.portfolio h5{
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: 'Itim', cursive;
    background-color: #111839;
    margin-bottom: 0;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px;
    background-color: transparent;
}

.portfolio h4{
    color: white;
    font-size:35px;
    text-align:left;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
}

.portfolio .player-cash-container, .error .player-cash-container{
    justify-content: center;
    display: flex;
}

.transactions .cash-container,
.market .cash-container,
.portfolio .cash-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.transactions .cash-in-hand,
.market .cash-in-hand,
.portfolio .cash-in-hand,
.portfolio .value-in-stocks,
.portfolio .total-cash{
    color:#00F69B;
}

.portfolio .player-cash, .error .player-cash{
    display: flex;
    flex-direction: row;
    box-shadow: #5966e3 0px 0px 10px 1px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    margin-left: 20px;
    margin-right: 20px;
}
.market .text-right,
.portfolio .text-right{
    color: white;
    font-weight: 400;
    font-size: large;
    margin-right: 30px;
    font-family: 'Itim', cursive;
}

.portfolio .modal .modal-footer,
.market .modal .modal-footer{
    justify-content: center;
}

.portfolio .modal-header .close,
.market .modal-header .close{
    color: white;
}

.portfolio .modal-body .md-form input,
.market .modal-body .md-form input{
    border-radius: 20px;
    height: 40px;
    padding: 10px;
    width: 100%;
}

.portfolio .modal-body .md-form input:focus,
.market .modal-body .md-form input:focus{
    outline: none;
}

.market .text-center,
.portfolio .text-center,
.landing-page .text-center,
.portfolio .modal h6,
.market .modal h6
.leaderboard .text-center{
    color: white;
    font-weight: 400;
    font-size: x-large;
    margin-top: 50px;
    margin-bottom: -10px;
    font-family: 'Itim', cursivey;
}

.portfolio .modal h6,
.market .modal h6{
    margin-top: 0;
    margin-bottom: 10px;
}

.landing-page .text-center .text-center{
    border: #4966e3 5px solid;
    border-radius: 100px;
    padding: 20px;
    background-color: #0b112b;
}

.landing-page .text-center .text-center:hover{
    background-color: #4966e3;
    text-decoration: none;
}

.portfolio .text-center{
    margin-top: -30px;
    margin-bottom: 0;
}

.market .stock-cards, .portfolio .stock-cards{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}

.market .card-body, .portfolio .card-body{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: #5966e3 8px 7px .2px .1px;
    border-radius: 20px;
}

.market .card, .portfolio .card {
    background:#111839;
    width:400px;
    border-radius:20px;
    margin:30px;
    backdrop-filter: blur(5px);
}

/* .market .green-card,.portfolio .green-card{
    background-color: #1b6214;
    backdrop-filter: blur(10px);
}

.market .red-card, .portfolio .red-card{
    background-color: red;
    backdrop-filter: blur(10px);
} */

/* .portfolio .card .card-title
{
    font-weight: 600;
    background: #01021E;
    font-size:30px;
    border-top-right-radius:20px;
    margin-top:0;
    color:white;
    height: 75px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
} */

.market .card .market-info .code, 
.portfolio .card .market-info .code,
.market .card .market-info .price, 
.portfolio .card .market-info .price{
    color: white;
    font-size:25px;
    text-align:left;
    font-weight:600;
}

.portfolio .card .market-info .stock-qty{
    color: #4966e3;
    font-weight: 800;
    font-size: 20px;
}

.portfolio .card .card-body:hover{
   
    
}

.market .card .market-info .name, 
.portfolio .card .market-info .name,
.market .card .market-info .closing-time, 
.portfolio .card .market-info .closing-time,
.market .card .market-info .diff-percent, 
.portfolio .card .market-info .diff-percent{
    color: #9ea1ae;
    font-size:15px;
    text-align:left;
    font-weight:400;
}

.market .card .market-info .graph,
.portfolio .card .market-info .graph{
    width: 150px;
    height: 55px;
}

.portfolio .card .market-info .card-text,
.market .card .market-info .card-text {
    /* font-weight: 400; */
}

.portfolio .player-cash-container .total-cash-container, .error .player-cash-container .total-cash-container{
    border-top: #4966e3 solid 5px;
}

.market .outer-search-container,
.transactions .outer-search-container,
.leaderboard .outer-search-container{
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: -30px;
}

.transactions .outer-search-container,
.leaderboard .outer-search-container{
    margin-top: 0px;
}

.market .search-container,
.transactions .search-container,
.leaderboard .search-container{
    justify-content: center;
    display: flex;
    color: white;
    background-color: transparent;
    padding-left: 50px;
    padding-right: 50px;
    width: 530px;
    border-radius: 40px;
    border: #4966e3 solid 5px;
    backdrop-filter: blur(8px);
}

.market .stock-search,
.transactions .stock-search,
.leaderboard .names-search{
    background-color: transparent;
    width: 450px;
    height: 50px;
    border-radius: 0px;
    border: none;
    color: white;
    padding: 0px;
    justify-content: center;
    text-align: left;
    font-size: 1.25rem;
}

.market .stock-search::placeholder,
.transactions .stock-search::placeholder,
.leaderboard .names-search::placeholder{
    color: white;
    font-family: 'Coda', cursive;
    opacity: .2;
}

.market .stock-search:focus::placeholder,
.transactions .stock-search:focus::placeholder,
.leaderboard .names-search:focus::placeholder,
.portfolio .modal-body .md-form input:focus::placeholder,
.market .modal-body .md-form input:focus::placeholder{
    color: transparent;
}

.market .stock-search:focus,
.transactions .stock-search:focus,
.leaderboard .names-search:focus{
    box-shadow: none;
}

.market .search-container .search-icon-container,
.transactions .search-container .search-icon-container,
.leaderboard .search-container .search-icon-container{
    justify-content: center;
    display: flex;
}

.market .search-container .search-icon,
.transactions .search-container .search-icon,
.leaderboard .search-container .search-icon{
    font-size: 25px;
    margin-top: 10px;
    position: relative;
}

.portfolio .card .market-info .stock-info,
.market .card .market-info .stock-info
{
    float: right;
}

.market-buttons{
    justify-content: center;
    text-align: center;
    display: grid;
}


.market .card .market-info .market-buttons .market-buy-button
{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background: #4966e3;
    height: 40px;
    color: white;
    border-radius: 10px;
    width: 100px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: #4966e3 4px solid;
}



.portfolio .card .market-info .market-buttons .market-buy-button,
.portfolio .modal .market-buy-button,
.market .modal .market-buy-button
{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background: #4966e3;
    height: 50px;
    color: white;
    border-radius: 10px;
    width: 120px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    line-height: 20px;
    border: #4966e3 4px solid;
}

.portfolio .card .market-info .market-buttons .market-sell-button,
.portfolio .modal .cancel-button,
.portfolio .modal .market-sell-button,
.market .modal .cancel-button
{
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    background:#ff4757;
    height:50px;
    color:white;
    border-radius:10px;
    width: 120px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    border: #ff4757 4px solid;
}


.market .card .market-info .market-buttons .market-buy-button:hover,
.portfolio .card .market-info .market-buttons .market-buy-button:hover,
.portfolio .modal .market-buy-button:hover,
.market .modal .market-buy-button:hover,
.portfolio .card .market-info .market-buttons .market-sell-button:hover,
.portfolio .modal .cancel-button:hover,
.market .modal .cancel-button:hover,
.portfolio .modal .market-sell-button:hover{
    background: transparent;
}

.portfolio .modal .market-sell-button{
    background: #4966e3;
    border: #4966e3 4px solid;
}

.flex-row{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    text-align:left;
    width: 100%;
}

.flex-column{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: left;
    padding:10px;
}

.details, .quantity{
    color: #01021E;
    text-decoration:none;
    font-size:20px;
    font-weight: 600;
}

.price{
    color: #01021E;
    font-size:20px;
    font-weight:bold;
}

.portfolio .card .market-info .up,
.market .card .market-info .up {
    color: #00F69B;
    font-size:20px;
    font-weight:bold;
}

.portfolio .card .market-info .down,
.market .card .market-info .down {
    color: #ff4757;
    font-size:20px;
    font-weight:bold;
}

.portfolio .modal .close:hover,
.market .modal .close:hover {
    cursor: pointer;
}

.white-text{
    color: white
}

.leaderboard .timer{
    font-size: xx-large;
    color: #4966e3;
}

.landing-page .white-text h1{
    color: #4966e3;
    font-weight: 700;
}

.landing-page .white-text span{
    font-weight: 700;
    font-size: 40px;
}

.buy-stocks{
    display: flex;
    justify-content: center;
    text-align: center;
}

.buy-stocks-btn{
    height: 50px;
    border: #4966e3 2px solid;
    border-radius: 30px;
    background-color: transparent;
    font-weight: 600;
    color: white;
    margin-left: 10px;
    backdrop-filter: blur(8px);
}

.buy-stocks-btn:hover{
    background-color: #4966e3;
}

/* --------------------------------- Transactions ------------------------------- */

.transactions{
    text-align: center;
}

.transactions .table{
    backdrop-filter: blur(10px);
}

.transactions .table thead{
    background-color: #111839;
    border: none;
    margin-bottom: 30px;
    font-size: 25px;
}

.transactions .transactions-sheet{
    text-align: left;
    overflow-x: visible;
    color: white;
}

.transactions .table tbody{
    background-color: transparent;
    backdrop-filter: blur(10px);
    font-size: 20px;
}

.transactions .table td{
    padding-left: 5px;
    padding-right: 5px;
}

.transactions .table th{
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
    font-weight: 600;
    border: none;
}


/* ------------------------------- Footer ------------------------------- */


.sharethis-inline-share-buttons {
    margin-top: 50px;
}

.footer {
    text-align: center;
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.footer img {
    margin-left: 0.5em;
    max-height: 3em;
    max-width: 80%;
}


/* ----------------------------- Leaderboard ------------------------------------ */

.leaderboard{
    text-align: center;

}

.leaderboard .table{
    margin-top: 30px;
    backdrop-filter: blur(10px);
}

.leaderboard .table thead{
    background-color: #111839;
    border: none;
    margin-bottom: 30px;
    font-size: 25px;
}

.leaderboard .leaderboard-table{
    text-align: left;
    overflow-x: visible;
    color: white;
}

.leaderboard .table tbody{
    background-color: transparent;
    backdrop-filter: blur(10px);
    font-size: 20px;
}

.transactions .table td{
    padding-left: 5px;
    padding-right: 5px;
}

.leaderboard .table th{
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
    font-weight: 600;
    border: none;
}

/* ------------------------------- Rules ------------------------------- */

.rules{
    color: white;
}

.rules #intro-logo {
    height: 2em;
    margin-bottom: 0.5em;
}

.rules h5 {
    font-size: 20px;
    line-height: 1.75em;
    backdrop-filter: blur(10px);
}

.rules .rules-list{
    padding: 30px;
    font-size: 20px;
    padding-left: 2em;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(8px);
    border: #4966e3 4px solid;
    border-radius: 30px;
    box-shadow: #4966e3 0 0 8px 1px;
}

.rules .notes{
    padding: 30px;
    font-size: 15px;
    padding-left: 2em;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(8px);
    border: #4966e3 4px solid;
    border-radius: 30px;
    box-shadow: #4966e3 0 0 8px 1px;
}

.rules ol li {
    padding-top: 0.4em;
}


/* ------------------------------------- Engage -------------------------------- */

.engage{
    text-align: center;
}

.engage #disqus_thread{
    backdrop-filter: blur(10px);
    padding: 30px;
}

/* ------------------------------- Media Queries ------------------------------- */

@media only screen and (max-width: 1250px){
    .navbar__item {
        display: none;
        right: 0;
    }

    .navbar__item__icon {
        display: block;
    }
    .navbar__item__icon::after {
        content: "";
        position: absolute;
        width: 2px;
        left: 0;
        bottom: 10%;
        height: 0;
        background-color: #4966e3;
        transition: 0.2s ease-in-out;
        transition-delay: 0s;
        border: none;
    }
    .navbar__item__icon:hover::after {
        height: 100%;
        transition-delay: 0.2s;
    }
    .responsive.navbar {
        position: relative;
        height: auto;
        display: block;
    }
    .responsive .navbar__brand {
        display: block;
        width: 100%;
    }
    .responsive .navbar__menu {
        flex-direction: column;
        width: 100%;
    }
    .responsive .navbar__item {
        display: block;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    .responsive .navbar__item__icon {
        position: absolute;
        top: 0;
    }  
    .navbar__menu{
        justify-content: flex-end;
    } 
}
@media only screen and (max-width: 768px) {
    .container {
        padding-right: 5px;
        padding-left: 5px;
        margin: 0;
    }

    .landing-page header.landing .content img.freemex-logo {
        padding-right: 10%;
        padding-left: 10%;
    }

    .landing-page .registration-form input:not([type="submit"]):focus ~ .input-requirements,
    .landing-page .registration-form input:not([type="submit"]):active ~ .input-requirements {
        max-height: 150px;
    }

    .portfolio h5{
        font-size:20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .portfolio h4{
        font-size:25px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .portfolio .card .card-title, .portfolio .card .market-info .market-buttons,
    .market .card .card-title, .market .card .market-info .market-buttons {
        text-align: center;
    }

    .portfolio .card .market-info .stock-qty{
        font-size: 15px;
    }

    .market .card, .portfolio .card{
        margin-left: 30px;
        margin-right: 30px;
    }
    .market h5{
        padding-left:10px ;
        padding-right: 10px;
    }

    .market .card .card-title{
        font-size: 25px;
    }

    .footer img {
        display: block;
        margin: 0 auto;
        margin-top: 0.5em;
    }

    .market h5,
    .portfolio h5,
    .transactions .cash-container h5{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    }

    .market .stock-search, .transactions .stock-search, .leaderboard .names-search{
        height: 40px;
    }

    
    .market .search-container .search-icon,
    .transactions .search-container .search-icon, 
    .leaderboard .search-container .search-icon{
        margin-top: 5px;
    }

    .transactions h1,
    .leaderboard h1{
        letter-spacing: 1px;
    }

    .market h1,
    .portfolio h1,
    .transactions h1,
    .rules h1,
    .leaderboard h1,
    .engage h1{
        font-size: 50px;
        margin-bottom: 30px;
    }

    .portfolio h2{
        font-size: 35px;
    }

    .market .search-container,
    .transactions .search-container,
    .leaderboard .search-container{
        padding-left: 10px;
        padding-right: 10px;
        justify-content:space-between;
        margin-right: 10px;
        margin-left: 10px;
    }

    .market .stock-search,
    .transactions .stock-search,
    .leaderboard .names-search{
        font-size: 1rem;
        width: 100%;
    }

    .market .card .market-info .code, 
    .portfolio .card .market-info .code, 
    .market .card .market-info .price, 
    .portfolio .card .market-info .price {
        font-size: 20px;
    }

    .portfolio .card .market-info .down, 
    .market .card .market-info .down {
        font-size: 15px;
    }

    .market .text-right, .portfolio .text-right {
        font-size:small;
        margin-bottom: 10px;
    }

    .portfolio .change-username {
        font-size: 13px;
    }

    .market .card .market-info .name, 
    .portfolio .card .market-info .name, 
    .market .card .market-info .closing-time, 
    .portfolio .card .market-info .closing-time, 
    .market .card .market-info .diff-percent, 
    .portfolio .card .market-info .diff-percent {
        font-size: 12px;
    }
    

    .transactions .table thead,
    .leaderboard .table thead{
        font-size: 15px;
    }

    .leaderboard,.portfolio,.transactions,.engage,.market{
        margin-top: 0px;
    }

    .transactions .table tbody,
    .leaderboard .table tbody{
        font-size: 13px;
    }

    .landing-page header.landing .content .nasdaq-intro {
        font-size: 16px;
        height: 10px;
        letter-spacing: .10em;
    }

    .landing-page .landing .content .login-area{
        width: 330px;
        padding: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .landing-page header.landing .content .login-buttons a.btn {
        padding: 12px 16px;
        margin-right: 5px;
        margin-top: 40px;
    }

    .landing-page header.landing .content .login-buttons{
        margin-top: -30px;
    }


    .landing-page header.landing .content .login-buttons a.btn .fa {
        font-size: 35px;
        position: relative;
        top: 15%;
    }

    .landing-page header.landing .content .login-buttons a.btn-fb,
    .landing-page header.landing .content .login-buttons a.btn-gplus,
    .landing-page header.landing .content .login-buttons a.btn-github {
        width: 80px;
        height: 80px;
    }

    .landing-page .text-right .fa-arrow-up{
       display: none;
    }

    .market .text-center,
    .portfolio .text-center,
    .landing-page .text-center,
    .portfolio .modal h6,
    .market .modal h6
    .leaderboard .text-center{
        font-size: large;
        margin-top: 0px;
    }

    .portfolio .card .market-info .market-buttons .market-buy-button, 
    .portfolio .modal .market-buy-button, .market .modal .market-buy-button {
        font-size: 17px;
        height: 40px;
        width: 100px;
    }

    .portfolio .card .market-info .market-buttons .market-sell-button, 
    .portfolio .modal .cancel-button, .portfolio .modal .market-sell-button, .market .modal .cancel-button {
        font-size: 17px;
        height: 40px;
        width: 100px;
    }

    .rules .rules-list {
        justify-content: left;
        text-align: left;
    }
    .footer {
        font-size: 1em;
    }
}